<template name="_attendeeNew">
  {{#ionModal customTemplate=true id="attendeeNew"}}
  <form id="attendees-new-form" novalidate="novalidate">
    <div class="bar bar-header bar-stable">
      <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
      <h2 class="title">Attendees</h2>
      <button type="submit" class="button button-positive button-clear">Add</button>
    </div>
    <div class="content has-header overflow-scroll">
  <label type="stacked" class="item item-input item-stacked-label">
      <span class="input-label">Name</span>
  <input type="text" label-type="stacked" placeholder="Full name" name="name" id="name" data-schema-key="name">
  </label>
  <label type="stacked" class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input type="text" label-type="stacked" placeholder="Email address" name="email" id="email" data-schema-key="email">
  </label>
  <label type="stacked" class="item item-input item-stacked-label">
      <span class="input-label">Profession</span>
  <input type="text" label-type="stacked" placeholder="eg. Developer, Designer, Project Manager etc." name="profession" id="profession" data-schema-key="profession">
  </label>
  <label type="stacked" class="item item-input item-stacked-label">
      <span class="input-label">Skills</span>
  <input type="text" label-type="stacked" placeholder="eg. Javascript, HTML, etc." name="skill" id="skill" data-schema-key="skill">
  </label>

  <label type="stacked" class="item item-input item-stacked-label">
      <span class="input-label">Experience</span>
      <input type="number" label-type="stacked" placeholder="Years of experience?" name="experience" id="experience" data-schema-key="experience">
  </label>


  <label type="stacked" class="item item-input item-stacked-label">
      <span class="input-label">Looking for</span>
  <input type="text" label-type="stacked" placeholder="Looking for? eg. Job, Startup" name="lookingfor" id="lookingfor" data-schema-key="lookingfor">
  </label>

  
  <label type="stacked" class="item item-input item-stacked-label">
      <span class="input-label">Linkedin</span>
  <input type="text" label-type="stacked" placeholder="LinkedIn URL" name="linkedin" id="linkedin" data-schema-key="linkedin">
  </label>

  <label type="stacked" class="item item-input item-stacked-label">
      <span class="input-label">Picture</span>
  <input type="text" label-type="stacked" placeholder="Pic URL" name="pic url" id="pic" data-schema-key="pic">
  </label>
    </div>
</form>
  {{/ionModal}}
</template>
