<template name="_importAttendee">
  {{#ionModal customTemplate=true id="importAttendee"}}
  <form id="attendees-new-form padding" novalidate="novalidate">
    <div class="bar bar-header bar-stable">
      <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
      <h2 class="title">Import Event Attendees</h2>      
    </div>
    <div class="content has-header overflow-scroll">

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Choose (CSV) File to Import</span>
          <input class="input-file" id="import_file" type="file" name="files[]">

          <button type="button" class="btn btn-primary" id="btn_import_file">import</button>
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Import file should be a .csv file with the following format:</span>
              <p>
            "firstname", "email", "exp.yrs", "skills", "date joined", "looking for", "profession",
                 "pic", "cv", "linkedin", "city"</p>
        </label>
      </div>
        
    </div>
 </form>
  {{/ionModal}}
</template>
