<template name="_importAttendee">
  {{#ionModal customTemplate=true id="importAttendee"}}
  <form id="attendees-new-form" novalidate="novalidate">
    <div class="bar bar-header bar-stable">
      <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
      <h2 class="title">Import Event Attendees</h2>
    </div>
    <div class="content has-header overflow-scroll">
        <input class="input-file" id="import_file" type="file" name="files[]">
        <button type="button" class="btn btn-primary" id="btn_import_file">import</button>
    </div>
 </form>
  {{/ionModal}}
</template>
