<template name="attendeesDetails">
<!--
<style media="screen">
  .image_disply {
    background: url({{profile.pic}}) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }
</style>
-->
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        Back
      </span>
  </button>
    <h1 class="title align-title-center">Attendee details</h1>
  {{/ionHeaderBar}}

  {{#ionView}}
  {{#ionContent class="padding image_disply" }}
    {{#ionList}}
    <div class="list card">
        <div class="item item-divider">
        {{ profile.firstname }}
      </div>
      <div class="item item-thumbnail-left item-avatar">
        {{#with profile}}
          <img src="{{pic}}" width="" alt="{{firstname}}" height="20">
           <p>{{skill}}</p>
           <p>Looking for: {{lookingfor}}</p>
         {{/with}}
      </div>
      <div class="item item-divider">
        {{profile.experience}} years exp.
      </div>
    </div>
    {{/ionList}}
    <a ui-sref="tabsController.checkout" class="button  button-dark button-block  icon-right ion-android-textsms" id="meet_candidate">Get in touch</a>
    {{#if list_need_to_view }}
    <div class="list card">
            <div class="item item-divider">Previous contact requests</div>
            <div class="item item-body">
                <div>{{#each connect_request}} {{format_date created_at}} {{/each}}</div>
            </div>
    </div>
    {{/if}}
    {{/ionContent}}
    {{> _tabs}}
  {{/ionView}}
</template>
