<template name="attendeesDetails">
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        Back
      </span>
  </button>
    <h1 class="title align-title-center">Attendee details</h1>    
  {{/ionHeaderBar}}

  {{#ionView}}
  {{#ionContent class="padding" }}
    {{#ionList}}
    <div class="list card">
      <div class="item item-divider">
        {{ profile.firstname }}
      </div>
      <div class="item item-thumbnail-left item-avatar">
        {{#with profile}}
          <img src="{{pic}}" width="" alt="{{firstname}}" height="20">
           <h2>{{firstname}}</h2>
           <p>{{skill}}</p>

         {{/with}}
      </div>
      <div class="item-divider">
        {{profile.experience}} years experience
      </div>
    </div>
    {{/ionList}}
    {{/ionContent}}
    {{> _tabs}}
  {{/ionView}}
</template>
