<template name="attendeesDetails">
<!--
<style media="screen">
  .image_disply {
    background: url({{profile.pic}}) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }
</style>
-->
  {{#ionHeaderBar class="bar-positive"}}
  {{ > backtoolbar}}
    <h1 class="title align-title-center">{{ profile.firstname }}</h1>
  {{/ionHeaderBar}}

  {{#ionView}}
  {{#ionContent class="padding image_disply" }}
    {{#ionList}}
    {{#with profile}}
    <div class="list card">
        <div class="item item-divider">
        <p><strong>{{firstname}}</strong></p>
    </div>
      <div class="item item-thumbnail-left item-avatar item-button-right">

                  {{ #if pic }}
                    <img src="{{pic}}" width="" alt="{{firstname}}" height="30" id="attendee_pic">
                  {{else}}
                       <img src="/assets/img/profile.png" width="" alt="{{firstname}}" height="30">
                  {{ / if }}


           <div class="item-text-wrap">
           <p>Profession : <span class="balanced">{{profession}}</span></p>
          </div>

           <div class="item-text-wrap">
           <p>Skills : <span class="balanced">{{skill}}</span></p>
          </div>


          {{ #if experience }}
             <p>Experience : <span class="balanced">{{experience}} years</span></p>
          {{else}}
             <p>Experience : <span class="balanced">?</span></p>
          {{/if}}


          <p>Looking for : <span class="balanced">{{lookingfor}}</span></p>

          {{ #if linkedin }}

            {{#if isInRole 'admin'}}
              <a class="item-icon-right" href="{{linkedin}}" target='_blank'>
                <i class="icon ion-social-linkedin"></i>
              </a>
            {{else}}
              <a class="item-icon-right" href="#">
                <i class="icon ion-social-linkedin"></i>
              </a>
            {{/if}}

          {{/if}}

<!--           {{ #if cv }}

            <a class="item-icon-right" href="{{cv}}" target='_blank'>
              <i class="icon ion-document-text"></i>
            </a>

          {{/if}}
 -->
     </div>
      <div class="item item-divider">
          {{ #if city }}
            <h3>{{city}}</h3>
          {{else}}
          {{/if}}

      </div>
    </div>

    {{#if isInRole 'admin'}}
       <div class="button-bar">
         {{ #if has_cv_linkedin cv linkedin }}
            <button class="button button-balanced button-block icon ion-document-text" id="matched_cv" data="{{firstname}}">&nbsp;CV</button>
         {{ else }}
             <button class="button button-balanced button-block icon ion-document-text disabled" id="matched_cv" data="{{firstname}}">&nbsp;CV</button>
         {{ /if }}
          <button class="button button-balanced button-block  icon ion-android-calendar" id="matched_call" data="{{firstname}}">&nbsp;Call</button>
      </div>

    {{/if}}


    {{#if list_need_to_view }}
    <div class="list">
        {{#each connect_request}}
            <div class="item item-avatar item-button-right">
                <img src="{{build_pic pic}}">
                <p><strong>{{format_date created_at}} </strong>
                {{message}} </p>

              <button class="button button-clear button-light remove_item" data="{{_id}}">
              <i class="icon ion-ios-trash-outline"></i>
             </button>
            </div>
        {{/each}}
    </div>
    {{/if}}

    {{#if is_email_available}}

      {{#if not_me }}

        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" id="message" placeholder="Enter your message">
          </label>
        </div>
  <!--
      <div class="list list-inset">
        <label class="item item-input-inset">
          <i class="icon ion-chatboxes placeholder-icon"></i>
          <input type="text" id="message" placeholder="Enter your message">
        </label>
      </div> -->

        <a ui-sref="tabsController.checkout" class="button  button-dark button-block  icon-right ion-chatboxes" id="meet_candidate">Send your message</a>
      {{ /if }}
      {{else}}
        <button class="button button-dark button-block  icon ion-android-email" id="job_meet">&nbsp;Please update email for communicate</button>
      {{/if}}

      {{/with}}
    {{/ionList}}
    {{/ionContent}}
    {{> _tabs}}
  {{/ionView}}
</template>
