<template name="checkoutTab">
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        Back
      </span>
  </button>
    <h1 class="title align-title-center">Checkout</h1>
  {{/ionHeaderBar}}
  {{#ionView}}

  {{#ionContent class="padding" }}

    {{#ionList}}
    {{#each item_list}}
      <div class="item item-thumbnail-left item-button-right">
          <img src="{{pic}}" width="" alt="{{desc}}" height="20">
          <p>EUR {{amount}}</p>
          <p>{{{breaklines desc}}}</p>
          <button class="button button-dark remove_item" data="{{_id}}">
              <i class="icon ion-trash-a"></i>
          </button>
      </div>
    {{/each}}
    {{#ionItem }}
          <h2>Total cost EUR {{total_amount}}</h2>
     {{/ionItem}}
    {{/ionList}}
    {{#if disabled_btn}}
    <a ui-sref="" class="button button-dark button-block icon-right ion-card active" id="pay_now">Contact to Pay</a>
    {{else}}
    <a ui-sref="" class="button button-dark button-block icon-right ion-card active" id="pay_now" disabled=true >Contact to Pay</a>
    {{/if}}

    {{/ionContent}}
    {{> _tabs}}
  {{/ionView}}
</template>
