<template name="companiesTab">
  {{#ionView}}
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        Back
      </span>
  </button>
    <h1 class="title align-title-center">Companies</h1>
  {{/ionHeaderBar}}
  {{#contentFor "headerButtonRight"}}

   {{/contentFor}}
  {{#ionContent class="padding"}}
  <div id="overflow-scroll">
  {{#ionItem}}
  <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Filter name" id="search">
  </label>
   {{/ionItem}}
    {{#ionList}}
      
    {{/ionList}}
    {{#if moreTasks}}
         <div id="showMoreEvents" style="">
           <button id="showMoreResults" type="button " class="button button-block button-positive">Load More...</button>
             <!-- Loading ...
             <span class="loading fa fa-cog fa-spin fa-2x"></span> -->
         </div>
     {{/if}}
  </div>
  {{/ionContent}}
  {{> _tabs}}
  {{/ionView}}
</template>
