<template name="companyDetails">
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        Back
      </span>
  </button>
    <h1 class="title align-title-center">{{ name }}</h1>

    {{#if canISearch user_id }}

    <div class="buttons">
      <button class="button button-balanced" data-ion-modal="_jobNew"><i class="icon ion-plus-round"></i> Job</button>

      {{#if isInRole 'admin'}}

              <button class="button button-energized" id="company_match"><i class="icon ion-ios-cog"></i>Match Jobs</button>              
              <button class="button button-assertive" id="btn_update_notification"><i class="icon ion-android-notifications-none"></i>
                      <i class="icon ion-email-unread"></i>New company in City</button>

      {{/if}}

    </div>

    {{/if}}


  {{/ionHeaderBar}}
  {{#ionView}}

  {{#ionContent class="padding" }}
    {{#ionList}}
    <div class="list card">

      <div class="item item-thumbnail-left">

          <img src="{{pic}}" width="" alt="{{name}}" height="20">

           <div class="item-text-wrap">
            <p>{{desc}}</p>
          </div>
          {{#if isInRole 'admin'}}
              <button class="button button-positive ion-button clear pull-right button-small" data-ion-modal="_editCompany"><i class="icon ion-edit"></i> Company</button>
          {{/if}}
      </div>

      <div class="item item-divider">
        <h3>{{city}}</h3>
      </div>

    </div>
    <h4>Jobs</h4>
    {{#ionList}}
    {{#each jobs_list}}
    {{#if isInRole 'admin'}}
      <div class="item item-icon-right">
        <i class="delete_job icon ion-minus-circled" data-id={{_id}}></i>
        <a href="{{ build_path _id}}">
          <h2>{{title}}</h2>
           <p>{{city}}</p>
       </a>
      </div>
    {{else}}
      <div class="item ">
        <a href="{{ build_path _id}}">
          <h2>{{title}}</h2>
           <p>{{city}}</p>
       </a>
      </div>
    {{/if}}
    {{/each}}
    {{/ionList}}
    {{/ionList}}


<!--     {{#if moreTasks}}
         <div id="showMoreEvents" style="">
           <button id="showMoreResults" type="button " class="button button-block button-stable">Load More...</button>
         </div>
     {{/if}} -->

<!--      {{#if isInRole 'admin'}}
          <a href="#" class="button button-block button-balanced" id="company_match" data="{{desc}}">
                Search {{ match_count }}&nbsp;
                <i class="icon ion-ios-people"></i>
          </a>
      {{/if}} -->

    {{/ionContent}}
    {{> _tabs}}
  {{/ionView}}
</template>
