<template name="companyDetails">
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        Back
      </span>
  </button>
    <h1 class="title align-title-center">{{ name }}</h1>
    {{#if isInRole 'admin'}}
    <button class="button button-clear" data-ion-modal="_jobNew">{{> ionIcon icon="ios-plus-empty"}}{{> ionIcon icon="ios-archive"}}</button>
    {{/if}}
  {{/ionHeaderBar}}
  {{#ionView}}

  {{#ionContent class="padding" }}
    {{#ionList}}
    <div class="list card">

      <div class="item item-thumbnail-left">

          <img src="{{pic}}" width="" alt="{{name}}" height="20">
           
           <div class="item-text-wrap">
            <p>{{desc}}</p>
          </div>

      </div>

      <div class="item item-divider">
        <h3>{{city}}</h3>
      </div>

    </div>
    <h4>Jobs</h4>
    {{#ionList}}
    {{#each jobs_list}}
      <a href="{{ build_path _id}}">
        {{#ionItem }}
              <h2>{{title}}</h2>
               <p>{{city}}</p>
         {{/ionItem}}
       </a>
    {{/each}}
    {{/ionList}}
    {{/ionList}}

    {{#if moreTasks}}
         <div id="showMoreEvents" style="">
           <button id="showMoreResults" type="button " class="button button-block button-stable">Load More...</button>
             <!-- Loading ...
             <span class="loading fa fa-cog fa-spin fa-2x"></span> -->
         </div>
     {{/if}}
    {{/ionContent}}
    {{> _tabs}}
  {{/ionView}}
</template>
