<template name="jobDetails">
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
  </button>
    <h1 class="title align-title-center">{{ title }}</h1>
  {{/ionHeaderBar}}

  {{#ionView}}
  {{#ionContent class="padding" }}
    {{#ionList}}
    <div class="list card">

        <div class="item item-divider">
           <h3>{{city}}  {{#if isInRole 'admin'}}
                <button class="button ion-button clear pull-right" data-ion-modal="_editJob">Edit</button>
            {{/if}} </h3>

        </div>

        <div class="item item-thumbnail-left">

          <img src="{{pic}}" width="" alt="{{name}}" height="20" id="job_pic">

                <div class="item-text-wrap">
                   <p>{{desc}}</p>
              </div>


                <div class="item-text-wrap">
                 <p>Profession :
                    {{ #if changing_profession }}
                        <div class="item item-input-inset">
                          <label class="item-input-wrapper">
                            <input type="text" placeholder="Enter profession" value="{{profession}}" id="new_prof">
                          </label>
                          <button class="button button-small button-light button-clear icon ion-checkmark-circled" id="updt_profession" jobid="{{_id}}"></button>
                          <button class="button button-small button-light button-clear icon ion-android-cancel" id="cancel_profession"></button>
                        </div>
                    {{ else }}
                       <span class="balanced">{{profession}}
                            {{#if canISearch user_id}}
                                &nbsp;
                                <button class="button button-small button-light button-clear icon ion-edit" id="prof_edit" jobid="{{_id}}" prof="{{profession}}"></button>
                            {{/if}}
                       </span>
                     {{ /if }}
                   </p>
                </div>


              <div class="item-text-wrap">
                <p>Skills :
                  {{ #if changing_skill }}
                        <div class="item item-input-inset">
                          <label class="item-input-wrapper">
                            <input type="text" placeholder="Enter Skill" value="{{skill}}" id="new_skill">
                          </label>
                          <button class="button button-small button-light button-clear icon ion-checkmark-circled" id="updt_skill" jobid="{{_id}}"></button>
                          <button class="button button-small button-light button-clear icon ion-android-cancel" id="cancel_skill"></button>
                        </div>
                  {{ else }}
                     <span class="balanced">{{skill}}
                          {{#if canISearch user_id}}
                              &nbsp;
                              <button class="button button-small button-light button-clear icon ion-edit" id="skill_edit" jobid="{{_id}}" skill="{{skill}}"></button>
                          {{/if}}
                     </span>
                  {{/if}}
                </p>
              </div>

              <div class="item-text-wrap">

                   <p>Experience : <span class="balanced">{{experience}} years
                    {{#if canISearch user_id}}
                        &nbsp;
                        <button class="button button-small button-light button-clear icon ion-chevron-up" id="exp_up" jobid="{{_id}}" exp="{{experience}}"></button>&nbsp;
                        <button class="button button-small button-light button-clear icon ion-chevron-down" id="exp_down" jobid="{{_id}}" exp="{{experience}}"></button>

                    {{/if}}
                   </span>
                   </p>

              </div>

        </div>

      <div class="item item-divider">
        <h4>(Posted on {{format_date created_at}})</h4>
      </div>
    </div>

    {{/ionList}}


    {{#if list_need_to_view }}
     <div class="list card">

            <div class="item item-divider">Your previous requests</div>

                {{#each connect_request}}
                  <div class="item item-button-right">
                    <p>
                      <i class="{{display_request_type request_type}}"></i>
                      <strong>{{format_date created_at}} </strong> {{ message }}
                    </p>

                    <button class="button button-clear button-light remove_item" data="{{_id}}">
                    <i class="icon ion-ios-trash-outline"></i>
                   </button>


                  </div>
                {{/each}}

        </div>
      {{/if}}

      {{#if canISearch user_id}}
          <a href="{{build_match_path}}" class="button button-block button-balanced" id="match_making" data="{{desc}}">
                <i class="icon ion-ios-search-strong"></i>&nbsp;
                Search {{ match_count }}&nbsp;
                <i class="icon ion-ios-people"></i>
          </a>
      {{/if}}

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" id="message" placeholder="Message to Company">
        </label>

      </div>

      <div class="button-bar">
        <button class="button button-dark button-block icon ion-ios-email" id="job_apply">&nbsp;Apply</button>
        <button class="button button-dark button-block  icon ion-android-people" id="job_meet">&nbsp;Meet</button>
      </div>




<!--           <button class="button button-full button-balanced" id="match_making" data="{{desc}}">
            <i class="icon ion-person"></i>&nbsp;
            <i class="icon ion-android-checkmark-circle"></i>&nbsp;
            Match making
          </button>
 -->

    {{/ionContent}}
    {{> _tabs}}
  {{/ionView}}
</template>
