<template name="jobDetails">
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        Back
      </span>
  </button>
    <h1 class="title align-title-center">{{ title }}</h1>
  {{/ionHeaderBar}}

  {{#ionView}}
  {{#ionContent class="padding" }}
    {{#ionList}}
    <div class="list card">
        <div class="item item-divider">
           <h3>{{city}} (posted {{format_date created_at}})</h3>
      </div>
      <div class="item-text-wrap padding">
           <p>{{desc}}</p>
      </div>
    </div>
    
      <div class="button-bar">
        <button class="button button-stable button-block icon ion-ios-email" id="job_apply">&nbsp;Apply</button>
        <button class="button button-stable button-block  icon ion-android-people" id="job_meet">&nbsp;Meet</button>
      </div>  
    

    {{/ionList}}
      
    {{#if list_need_to_view }}
     <div class="list card">
            <div class="item item-divider">Your requests</div>
            <div class="item item-body">
                <div>
                  <div>{{#each connect_request}}
                    <p>
                      {{format_date created_at}} - {{display_request_type  request_type}}
                    </p>{{/each}}</div>
                </div>
            </div>
        </div>
      {{/if}}
    {{/ionContent}}
    {{> _tabs}}
  {{/ionView}}
</template>
