<template name="main_tabs">
    {{#ionTabs style="ios"}}
    <a class="tab-item" href="/events" data-ion-tab="">
      <i class="icon ion-android-bar"></i>
      Events
    </a>
    <a class="tab-item" href="/tabs/companies" data-ion-tab="">
        <i class="icon ion-ios-briefcase"></i>
        Companies
       <!-- <span class="badge badge-assertive">{{helperCompanyCount}}</span> -->
    </a>
    <a class="tab-item" href="/tabs/jobsTab" data-ion-tab="">
        <i class="icon ion-archive"></i>
        Jobs
    </a>
    <a class="tab-item" href="/tabs/messages" data-ion-tab="">
        <i class="icon ion-chatboxes"></i>
        Messages
    </a>
    <a class="tab-item" href="/tabs/checkout" data-ion-tab="">
      <i class="icon ion-ios-cart"></i>
       Checkout
       <!-- <span ng-if="{{helperCheckCount}}" class="badge badge-assertive">{{helperCheckCount}}</span> -->
    </a>
    {{/ionTabs}}
</template>
