<template name="sponsorTab">
  {{#ionHeaderBar class="bar-positive"}}
{{ > backtoolbar}}
    <h1 class="title align-title-center">Pitch, Stand &amp; Sponsor</h1>
    {{#if isInRole 'admin'}}
    <button class="button button-clear" data-ion-modal="_sponsorNew">{{> ionIcon icon="ios-plus-empty"}}</button>
    {{/if}}
  {{/ionHeaderBar}}

  {{#ionView}}
  {{#ionContent class="padding"}}
  <div id="overflow-scroll">
    {{#ionList}}
    {{#each sponsor_list}}
      <a href="{{build_path _id}}">
        {{#ionItem class="item-thumbnail-left"}}
               <img src="{{pic}}" width="" alt="{{name}}" height="20">
               <h2>{{name}}</h2>
               <p>{{description}}</p>
               <h2>EUR {{amount}}</h2>
         {{/ionItem}}
       </a>
    {{/each}}
    {{/ionList}}
  </div>
  {{/ionContent}}
  {{> _tabs}}
  {{/ionView}}
</template>
