<template name="accountsetup">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="dashboard" text="Dashboard"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Setup Accounts</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="padding contact-detail"}}
        <div class="list card">
          <div class="item item-avatar">
            <img src="http://freeagent-assets.s3.amazonaws.com/website-2014/images/logo.svg">
            <h2>Freeagent</h2>
            <p>Accounting system</p>
          </div>

          <div class="item item-body">
            <h4>About</h4>
            <p>
              details
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item font18" href="/fa_index" data-action="fake" id="fa_index">
              More
            </a>
            <a class="tab-item font18" href="{{fa_login_url}}" data-action="fake">
              Login
            </a>
          </div>
        </div>
        <div class="list card">
          <div class="item item-avatar">
            <img src="/assets/img/constant-contact-share-logo.gif">
            <h2>Constant Contact</h2>
            <p>Email Marketing System</p>
          </div>

          <div class="item item-body">
            <h4>About</h4>
            <p>
              details
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item font18" href="/cc_index" data-action="fake" id="fa_index">
              More
            </a>
            <a class="tab-item font18" href="{{cc_login_url}}" data-action="fake">
              Login
            </a>
          </div>
        </div>
    {{/ionContent}}
  {{/ionView}}
</template>
