<template name="accountsetup">
<section id="main-content">
  <section class="wrapper">
    <div class="row mt">
      <div class="col-md-12">
				<div class="col-lg-4 col-md-4 col-sm-4 mb">
					<div class="product-panel-2 pn">
            <div>
              <div class="col-xs-2 col-xs-offset-10" style="padding:10px">
  										<a href="fa_index"><button class="btn btn-sm btn-clear-g">More</button></a>
  						</div>
              <img src="http://freeagent-assets.s3.amazonaws.com/website-2014/images/logo.svg" width="200" alt="" height="100">
  						<h5 class="mt">&nbsp;</h5>
            </div>
            <div class="profile-01 centered">
              <a href="{{fa_login_url}}"><p>Login</p></a>
						</div>
					</div>
				</div>
        <div class="col-lg-4 col-md-4 col-sm-4 mb">
          <div class="product-panel-2 pn">
            <div>
              <div class="col-xs-2 col-xs-offset-10" style="padding:10px">
  										<a href="/cc_index"><button class="btn btn-sm btn-clear-g">More</button></a>
  						</div>
              <img src="/assets/img/constant-contact-share-logo.gif" width="120" alt="" height="100">
              <h5 class="mt">&nbsp;</h5>
            </div>
            <div class="profile-01 centered">
							<a href="{{cc_login_url}}"><p>Login</p></a>
						</div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </section>
</template>
