$loading-font-size: 22px;

@import 'ionic/scss/ionic';
@import 'ionic/scss/ionicons/ionicons';

.contact-detail {
  background: $stable;
}

.popover {
  height: auto;
  display: block !important;
}
.pointer{
  cursor: pointer;
}
.font18{
  font-size: 18px !important;
  font-weight: 700;
}
