<template name="ccindex">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="accountsetup" text="Back"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Constant Contact</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="padding contact-detail"}}
        <div class="list card">
          <div class="item item-avatar">
            <img src="/assets/img/constant-contact-share-logo.gif">
            <h2>Constant Contact</h2>
            <p>Email Marketing System</p>
          </div>

          <div class="item item-body">
            <h4>Token Details</h4>
            <p>
              <div class="alert alert-success"><b>Auth Code : </b> {{auth_code}} </div>
              <div class="alert alert-success"><b>Refresh Token : </b> {{refresh_token}} </div>
              <div class="alert alert-success"><b>Access Token : </b> {{access_token}} </div>
              <div class="alert alert-success"><b>Token Type : </b>  {{token_type}} </div>
            </p>
          </div>
        </div>
        {{#ionList}}
          {{#ionItem}}
            
             <div class="input-label">
               Select Email List to sync
             </div>
             <div class="item item-input-inset">
              <select class="item-input-wrapper" id="default_email">
                {{#each emailcontectlist}}
                  <option value="{{id}}" {{is_selected id}}>{{name}}</option>
                {{/each}}
              </select>
              <button class="button button-small" id="btn_save_eamil_list" style="padding: 2px 40px 1px;">Save</button>
              </div>
            
           {{/ionItem}}
            {{#ionItem buttonRight=true avatar=true}}
                <div class="" style="text-align: center;padding-top: 10px;">
                  <a href="{{cc_login}}"> <button type="button" class="btn-lg btn-primary">CC Login</button></a>
              </div>
             {{/ionItem}}
             {{#ionItem buttonRight=true avatar=true}}
               <div class="" style="text-align: center;padding-top: 10px;">
                 <button type="button" class="btn-lg btn-primary" id="cc_contects">Get Contacts</button>
               </div>
              {{/ionItem}}

        {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
