<template name="_tabs">
    {{#ionTabs style="ios"}}
    <a class="tab-item active" href="/tabs/one/{{_id}}" data-ion-tab="">
      <i class="icon ion-ios-gear-outline"></i>
      General
    </a>
    <a class="tab-item" href="/tabs/two/{{_id}}" data-ion-tab="">
        <i class="icon ion-android-star"></i>
        Open
    </a>
    <a class="tab-item" href="/tabs/three/{{_id}}" data-ion-tab="">
        <i class="icon ion-ios-star-outline"></i>
        Send
    </a>
    <a class="tab-item" href="/tabs/four/{{_id}}" data-ion-tab="">
      <i class="icon ion-ios-home"></i>
        Click
    </a>
    {{/ionTabs}}  
</template>
