<template name="_tabs">
    {{#ionTabs style="ios"}}
    <a class="tab-item active" href="/tabs/one/{{_id}}" data-ion-tab="">
      <i class="icon ion-information-circled"></i>
      General
    </a>
    <a class="tab-item" href="/tabs/two/{{_id}}" data-ion-tab="">
        <i class="icon ion-cash"></i>
        Invoices
    </a>
    <a class="tab-item" href="/tabs/three/{{_id}}" data-ion-tab="">
        <i class="icon ion-ios-email"></i>
        Campaigns
    </a>
    <a class="tab-item" href="/customers" data-ion-tab="">
      <i class="icon ion-ios-people"></i>
       Customers
    </a>
    {{/ionTabs}}
</template>
