<template name="tabsOne">
  {{#ionView}}
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        Back
      </span>
  </button>
    <h1 class="title">General Information</h1>
  {{/ionHeaderBar}}
  {{#ionContent class="padding"}}
  <div class="list card">
    <div class="item item-avatar">
      <img src="{{image_src provider}}">
      <h2>{{first_name}} {{last_name}}</h2>
      <p>organisation : {{organisation_name}} {{company_name}}</p>
      <p>{{country}}</p>
    </div>
    <div class="item item-body">
      <p>emails : {{email}}</p>
      <p>status : {{status}}</p>
      {{{activeLabel}}}
    </div>
  </div>
  {{/ionContent}}
  {{> _tabs}}
  {{/ionView}}
</template>
