<template name="tabsTwo">
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        Back
      </span>
  </button>
    <h1 class="title">Invoices</h1>
  {{/ionHeaderBar}}
  {{#ionView}}
  {{#ionContent class="padding" }}
  <!-- <button type='button' class='btn btn-lg btn-default' id="run_report">Run Report</button> -->
  <!-- <div style="padding:10px;"></div> -->
  <!-- {{#each cc_opened_report}}
      {{#ionItem}}
         <h2>{{email_address}}</h2>
         <p>{{activity_type}}</p>
         <p> campaign : {{campaign campaign_id}}</p>
       {{/ionItem}}
   {{/each}} -->
   {{#each invoices}}
       {{#ionItem}}
          <h2>Date : {{dated_on}}</h2>
          <h2>Invoice Items</h2>
          {{#each invoice_items}}
            <p>description : {{description}} | item type : {{item_type}} |  price : {{price}} | quantity : {{quantity}}  </p>
          {{/each}}
          <p>Net value : {{net_value}}</p>
          <p>Sales Tax : {{sales_tax_value}}</p>
          <p>Total Value : {{total_value}}</p>
          <p>Paid Value : {{paid_value}}</p>
          <p>Status : {{status}}</p>
          <p>Due Value : {{due_value}}</p>
        {{/ionItem}}
    {{/each}}
  {{/ionContent}}
  {{> _tabs}}
  {{/ionView}}
</template>
