<template name="_eventsNew">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Events" id="events-new-form" type="insert"}}
      <div class="bar bar-header bar-stable">
        <button id="btn_cancel" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">Event</h2>
        <button type="submit" class="button button-positive button-clear">Add</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickFields omitFields="created_at"}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
