<template name="dashboard">
  {{> checklogin}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">dashboard</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
  <button class="button button-clear" data-ion-popover="_myPopover">
    {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
  </button>
 {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom: 5px">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            Setup your Accounts before importing any contacts.
        </div>
        {{#each cc_contects}}
          {{#if is_freeagent provider}}
            {{#ionItem avatar=true}}
               <img src="{{image_src provider}}" width="" alt="{{provider}}" height="20">
               <h2>{{email}}</h2>
               <span class="pull-right label {{sync_label sync_state}} label-assertive">{{sync_state}}</span>
               <p>{{first_name}}</p>
               <p>{{organisation_name}}</p>

             {{/ionItem}}
            {{else}}
              {{#ionItem avatar=true}}
                <img src="{{image_src provider}}" width="" alt="{{provider}}" height="40">
                <h2>{{email}}</h2>
                <span class="pull-right label {{sync_label sync_state}} label-assertive">{{sync_state}}</span>
                <p>{{first_name}} </p>
                <p>{{company_name}} </p>
              {{/ionItem}}
            {{/if}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
