<template name="dashboard">
  {{> checklogin}}
  {{#contentFor "headerTitle"}}
    <h1 class="title align-title-center">Events</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="_eventsNew">{{> ionIcon icon="ios-plus-empty"}}</button>
   {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
    {{#ionItem}}
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Filter city" id="search">
    </label>
     {{/ionItem}}
      {{#ionList}}
        {{#each events}}
            {{#ionItem avatar=true  path="events.show" class="item-thumbnail-left"}}
               <img src="{{pic}}" width="" alt="{{name}}" height="20">
               <h2>{{name}}</h2>
               <p>{{start}}</p>
               <p>{{address}}</p>
             {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
