<template name="eventsShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="dashboard" text="events"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Event details</h1>
  {{/contentFor}}
  {{#ionView}}
  {{#ionContent}}
    {{#ionList}}


<div class="card">
  <div class="item item-divider">
    {{ name }} {{format_date start}}
  </div>
  <div class="item item-text-wrap">
    <img src="{{pic}}" width="" alt="{{name}}" height="100">
  </div>
  <div class="item item-divider">
    {{address}}
  </div>
</div>

        {{/ionList}}
      <a ui-sref="tabsController.checkout" class="button  button-dark button-block  icon-left ion-ios-cart">Jobseeker ticket (EUR 0.0)</a>
      <a ui-sref="tabsController.companies" class="button button-stable button-block  icon-right ion-ios-arrow-right">Participating Companies</a>
      <a ui-sref="tabsController.pitchStandAndSponsor" class="button  button-block  icon-right ion-ios-arrow-right">Pitch, Stand &amp; Sponsor options</a>
    {{/ionContent}}
  {{/ionView}}
</template>
