<template name="login">
{{#contentFor "headerButtonLeft"}}
{{>ionNavBackButton path="index" text="Home"}}
{{/contentFor}}
{{#contentFor "headerTitle"}}
  <h1 class="title align-title-center">Tech Startup Jobs</h1>
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
    {{#if currentUser}}
      <div class="padding">
        <button class="button button-positive button-block logout" data-action="logout">Log Out</button>
      </div>
    {{else}}
      <!-- {{> atForm}} -->
      <div class="list at-form">

 <!--        <div class="item item-divider">

  </div>
  -->
  <div class="at-pwd-form">
    <form role="form" id="at-pwd-form" novalidate="" action="#" method="GET">
    <div class="at-input item item-input item-text-wrap item-stacked-label">

      <label class="input-label" for="at-field-email">
        Email
      </label>
    <input type="email" id="login_user_id" name="at-field-email" placeholder="Email" autocapitalize="none" autocorrect="off">
  </div>
    <div class="at-input item item-input item-text-wrap item-stacked-label">

      <label class="input-label" for="at-field-password">
        Password
      </label>
    <input type="password" id="login_password" name="at-field-password" placeholder="Password" autocapitalize="none" autocorrect="off">
  </div>
      <div class="padding">
    <button type="button" class="at-btn button button-dark button-block submit" id="sign-in">
      Login
    </button>
  </div>
    </form>
  </div>
        <div class="at-signup-link padding text-center">
    <p>
      Don't have an account?
      <a href="/register" id="at-signUp" class="at-link at-signup positive">Register</a>

    </p>
     <p>
      Forgot your password?
      <a href="/forgotpassword" class="at-link at-signup positive">Click here</a>
    </p>
  </div>

    </div>
    {{/if}}
  {{/ionContent}}
{{/ionView}}
</template>

<template name="register">
  {{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton path="index" text="Home"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title align-title-center">Tech Startup Jobs</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      {{#if currentUser}}
        <div class="padding">
          <button class="button button-positive button-block logout" data-action="logout">Log Out</button>
        </div>
      {{else}}
      <div class="list at-form">
<!--       <div class="item item-divider">
        <h3 class="title">Register an Account</h3>
      </div>
 -->      <div class="at-pwd-form">
        <form role="form" id="at-pwd-form" novalidate="" action="#" method="POST">
        <div class="at-input item item-input item-text-wrap item-stacked-label">
          <label class="input-label" for="at-field-email">
            Email
          </label>
        <input type="email" id="login_user_id" name="at-field-email" placeholder="Email" autocapitalize="none" autocorrect="off">
      </div>
        <div class="at-input item item-input item-text-wrap item-stacked-label">
          <label class="input-label" for="at-field-password">
            Name
          </label>
        <input type="text" id="login_user_name" name="at-field-password" placeholder="Password" autocapitalize="none" autocorrect="off">
      </div>
        <div class="at-input item item-input item-text-wrap item-stacked-label">
          <label class="input-label" for="at-field-password_again">
            Password
          </label>
        <input type="password" id="login_password" name="at-field-password_again" placeholder="Password" autocapitalize="none" autocorrect="off">
      </div>
          <div class="padding">
        <button id="user_register" class="at-btn button button-dark button-block submit">
          Register
        </button>
      </div>
        </form>
      </div>
      <div class="at-signin-link padding text-center">
        <p>
          If you already have an account
          <a href="/login" id="at-signIn" class="at-link at-signin positive">Login</a>
        </p>
      </div>
      </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
<template name="ResetPassword">
    {{#if resetPassword}}
    <form action="/reset-password"  id="resetPasswordForm" method="post">
        <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
        <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" >
        <input class="btn-submit" type="submit" value="Reset">
    </form>

    {{/if}}
</template>
<template name="forgotpassword">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="login"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Forgot Password</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}

    <label type="stacked" class="item item-input item-stacked-label">
        <span class="input-label">Enter Email </span>
        <input id="forgotPasswordEmail" name="email" placeholder="Email" type="text" >

    </label>



    <!-- <label type="stacked" class="item item-input item-stacked-label">
        <span class="input-label">Enter Pic URL</span>
        <input type="text" name="pic" required="" data-schema-key="pic" placeholder="pic" id="pic">
    </label> -->
      <div class="padding">
      <button type="button" class="button button-positive button-block" id="forgotPasswordForm">Update</button>
    </div>
      {{/ionContent}}
  {{/ionView}}

</template>
