<template name="blogindextemplate">
    <section id="main-content">

        <section class="wrapper">
            <div class="pull-left">
                {{#if is_blog_admin }}
                <a href="/admin/blog" class="for-new-blog btn btn-success">
                    <i class="fa fa-plus"></i> Add new Blog
                </a>
                {{/if}}
                <a href="/" class="for-new-blog btn btn-success">
                    <i class="fa fa-chevron-circle-left"></i> Back
                </a>
            </div>

            <div class="row">
                <div>{{> blogIndex}}</div>
            </div>
        </section>
    </section>
</template>

<template name="blogshowtemplate">
    <section id="main-content">
        <section class="wrapper">
            <div class="pull-left">
                {{#if is_blog_admin }}
                <a href="/admin/blog" class="for-new-blog btn btn-success">
                    <i class="fa fa-plus"></i> Add new Blog
                </a>
                {{/if}}
                <a href="/blog" class="for-new-blog btn btn-success">
                    <i class="fa fa-chevron-circle-left"></i> Back to Blogs
                </a>
            </div>
            <div class="row">
                <div>{{> blogShow}}</div>
            </div>
        </section>
    </section>
</template>
