<template name="userprofile">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="events"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Change Password</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
    <label type="stacked" class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" label-type="email" name="email" required="" data-schema-key="email" placeholder="Email" id="email" value="{{my_email}}">
    </label>
    <label type="stacked" class="item item-input item-stacked-label">
        <span class="input-label">Enter New Password</span>
        <input type="password" label-type="Password" name="Password" required="" data-schema-key="Password" placeholder="Password" id="Password">
    </label>

    <label type="stacked" class="item item-input item-stacked-label">
        <span class="input-label">Repeat Password</span>
        <input type="password" label-type="Password" name="Password" required="" data-schema-key="Password" placeholder="Password" id="Password1">
    </label>

    <!-- <label type="stacked" class="item item-input item-stacked-label">
        <span class="input-label">Enter Pic URL</span>
        <input type="text" name="pic" required="" data-schema-key="pic" placeholder="pic" id="pic">
    </label> -->
      <div class="padding">
      <button type="button" class="button button-positive button-block" id="reset_password">Update</button>
    </div>
      {{/ionContent}}
  {{/ionView}}
</template>

<template name="integrated">

</template>
