<template name="userprofile">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-9 main-chart">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-xs-3">Enter New Password</label>
                            <div class="col-xs-9">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <button type="button" class="btn btn-primary" id="reset_password">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div><!-- /col-lg-9 END SECTION MIDDLE -->
            </div>
        </section>
    </section>
</template>

<template name="integrated">

</template>
