<template name="userImport">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="events"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">User Settings</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
  <form id="attendees-new-form" novalidate="novalidate">
    <div class="bar bar-header bar-stable">
            <h2 class="title">Import Attendee Data</h2>
    </div>
    <div class="content has-header overflow-scroll">
        <input class="input-file" id="import_file" type="file" name="files[]">
        <button type="button" class="btn btn-primary" id="btn_import_file">import</button>
    </div>
 </form>
 {{/ionContent}}
{{/ionView}}
</template>
