<template name="userprofile">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="dashboard"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">User Profile</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
    <label type="stacked" class="item item-input item-stacked-label">
        <span class="input-label">Enter New Password</span>
        <input type="text" label-type="Password" name="Password" required="" data-schema-key="Password" placeholder="Password" id="Password">
    </label>
      <div class="padding">
      <button type="button" class="button button-positive button-block" id="reset_password">Reset Password</button>
    </div>
      {{/ionContent}}
  {{/ionView}}
</template>

<template name="integrated">

</template>
