<template name="eventsShow">
<!--
  <style media="screen">
    .image_disply {
      background: url({{pic}}) no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
    }
  </style> -->

  {{#ionHeaderBar class="bar-positive"}}
  {{ > backtoolbar}}
    <h1 class="title align-title-center">{{name}}</h1>
    {{#if isInRole 'admin'}}

      <div class="buttons">
        <button class="button button-balanced" data-ion-modal="_attendeeNew"><i class="icon ion-plus-round"></i>Attendee</button>

        <button class="button button-energized" data-ion-modal="_eventsEdit"><i class="icon ion-edit"></i>Edit Event</button>
        <button class="button button-assertive" id="btn_notification"><i class="icon ion-android-notifications-none"></i>
                      <i class="icon ion-email-unread"></i>Change Notification</button>
        <button class="button button-assertive" id="btn_add_notification"><i class="icon ion-android-notifications-none"></i>
                      <i class="icon ion-email-unread"></i>New Event in City</button>
        <button class="button button-dark" data-ion-modal="_importAttendee"><i class="icon ion-ios-upload-outline"></i>Attendees</button>        

      </div>
    {{/if}}

  {{/ionHeaderBar}}

  {{#ionView}}
  {{#ionContent class="padding image_disply"}}
    {{#ionList}}


    <div class="list card">
      <div class="item item-divider">
        <h3>On {{format_date start}}</h3>
      </div>
      <div class="item item-text-wrap">
        <img class="full-image" src="{{pic}}" width="100%" alt="{{name}}" height="auto" max-height="400px" >
      </div>
      <div class="item item-divider">
        <h4>{{address}}</h4>
      </div>
    </div>

        {{/ionList}}

        {{#each current_user_envent_state}}
        <div class="list card">
            <div class="item item-divider"><h3>Ticket purchased: {{format_date joined_on}}</h3></div>
            <div class="item item-body">
                  <i class="icon ion-card">&nbsp;</i>{{ticket_no}}
            </div>
        </div>
        {{else}}
          <a ui-sref="tabsController.checkout" class="button  button-dark button-block  icon-right ion-ios-cart" id="jobseeker_ticket">Jobseeker ticket</a>
        {{/each}}

<!--       <a ui-sref="tabsController.companies" class="button button-stable button-block  icon-right ion-ios-arrow-right">Participating Companies</a>
 -->
      <a ui-sref="sponsor.tab" class="button  button-block button-balanced icon-right ion-ios-arrow-right" id="sponsor_btn">Pitch, Stand &amp; Sponsor options</a>
    {{/ionContent}}

    {{> _tabs}}
  {{/ionView}}
</template>
