<template name="eventsShow">
  <style media="screen">
    .image_disply {
      background: url({{pic}}) no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
    }
  </style>
  {{#ionHeaderBar class="bar-positive"}}
  <button class="buttons button button-clear back-button pull-left" onclick="window.history.back();return false;">
    <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        Back
      </span>
  </button>
    <h1 class="title align-title-center">Event details</h1>
    {{#if isInRole 'admin'}}
      <button class="button button-clear" data-ion-modal="_attendeeNew"><i class="icon ion-ios-plus-empty"></i></button>
    {{/if}}

  {{/ionHeaderBar}}

  {{#ionView}}
  {{#ionContent class="padding image_disply"}}
    {{#ionList}}


    <div class="list card">
      <div class="item item-divider">
        {{ name }} {{format_date start}}
      </div>
      <div class="item item-text-wrap">
        <img src="{{pic}}" width="" alt="{{name}}" height="100">
      </div>
      <div class="item item-divider">
        {{address}}
      </div>
    </div>

        {{/ionList}}

        {{#each current_user_envent_state}}
        <div class="list card">
            <div class="item item-divider">Ticket No : {{ticket_no}}</div>
            <div class="item item-body">
                <div>
                    <h3>You bought a ticket on {{format_date joined_on}}</h3>
                </div>
            </div>
        </div>
        {{else}}
          <a ui-sref="tabsController.checkout" class="button  button-dark button-block  icon-right ion-ios-cart" id="jobseeker_ticket">Jobseeker ticket</a>
        {{/each}}

<!--       <a ui-sref="tabsController.companies" class="button button-stable button-block  icon-right ion-ios-arrow-right">Participating Companies</a>
 -->
      <a ui-sref="sponsor.tab" class="button  button-block  icon-right ion-ios-arrow-right" id="sponsor_btn">Pitch, Stand &amp; Sponsor options</a>
    {{/ionContent}}

    {{> _tabs}}
  {{/ionView}}
</template>
