<template name="events">
  {{> checklogin}}
  {{#contentFor "headerTitle"}}
    <h1 class="title align-title-center">Events</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    {{#if isInRole 'admin'}}
    <div class="buttons">
    <button class="button" data-ion-modal="_eventsNew">{{> ionIcon icon="ios-plus-empty"}}</button>
    <!-- <button class="button" data-ion-modal="_importAttendee">Import</button> -->
    </div>
    {{/if}}
   {{/contentFor}}
  {{#ionView}}
    {{#ionContent on-infinite="showMoreVisible()" }}
    <div id="overflow-scroll">
    {{#ionItem}}
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Filter city" id="search">
    </label>
     {{/ionItem}}
      {{#ionList}}
        {{#each events}}
            {{#ionItem avatar=true  path="events.show" class="item-thumbnail-left"}}
               <img src="{{pic}}" width="" alt="{{name}}" height="20">
               <h2>{{name}}</h2>
               <p>{{format_date start}}</p>
               <p>{{address}}</p>
             {{/ionItem}}

        {{/each}}
      {{/ionList}}
      {{#if moreTasks}}
           <div id="showMoreEvents" style="">
             <button id="showMoreResults" type="button " class="button button-block button-stable">Load More...</button>
               <!-- Loading ...
               <span class="loading fa fa-cog fa-spin fa-2x"></span> -->
           </div>
       {{/if}}
    </div>
    {{/ionContent}}
    {{> main_tabs}}
  {{/ionView}}
</template>
